@import "compass";
@import "_susy";

$total-columns: 8;
$column-width: 7em;
$gutter-width: 1em;
$main-padding-width: 2.4em;
$panelWidth: ($total-columns * ($column-width + $gutter-width)) + $gutter-width + $main-padding-width;
$contentTextColor: #4e92cb;
$uiTextColor: #595959;
$borderColorDark: #bebebe;
$borderColorMedium: #d7d7d7;
$borderColorLight: #d9d9d9;
$borderColorHighlight: #bbddfe;
$bgColorDark: #f3f3f3;
$bgColorLight: #f8f8f8;
$bgColorHighlight: #f5f9fd;
$shadowColor: #eee;
$solarElectricityColor1: #fed4b4;
$solarElectricityColor2: #fcc499;
$solarElectricityColor3: #e2a678;
$solarHeatColor1: #fef6ba;
$solarHeatColor2: #f6eb9b;
$solarHeatColor3: #d4c768;
$geoTermColor1: #ecce66;
$geoTermColor2: #e1c04f;
$geoTermColor3: #b5962c;

body {
    font: 0.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $uiTextColor;

    h1 {
            margin-top: 1.6em;
            font-size: 1.9em;
            span {
                font-size: 0.4em;
                padding-left: 0.8em;
                }
        }

    & > .map {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px; 
        bottom: 0px;
        @include transition-property(right);
        @include transition-duration(0.5s);
        @include transform(translateZ(0));
        path {
            cursor: pointer;
        }
        .solarlegend {
            background-color: $bgColorLight;
            @include border-radius(4px);
            @include box-shadow(0px 0px 40px 5px rgba(0, 0, 0, 0.3));
            border: 1px solid #818181;
            position: absolute;
            left: 5em;
            top: 5em;
            padding: 1em;
            h3 {
                padding: 0;
                margin: 0;
                font-size: 1.1em;
                margin-bottom: 0.6em;
                }
            .left {
                float: left;
                font-size: 0.8em;
                font-weight: bold;
                }
            .right {
                float: right;
                font-size: 0.8em;
                font-weight: bold;
                }
            .grading {
                margin-top: 2em;
                @include background-image(linear-gradient(left, #000, #ffff0b));
                height: 1em;
                width: 100%; 
                }
            }
        .address-form {
            width: 36em;
            height: 15.5em;
            background-color: $bgColorLight;
            @include border-radius(10px);
            @include box-shadow(0px 0px 40px 5px rgba(0, 0, 0, 0.7));
            border: 1px solid #818181;
            padding: 3em 4.4em 3em 3em;
            z-index: 100000;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 4em;
            h1 {
                margin: 0 0 1em;
                padding: 0 0 0 0.6em;
                }
            p {
                margin-bottom: 2em;
                padding-left: 1.2em;
                }
            label {
                font-weight: bold;
                display: block;
                margin-bottom: 1.5em;
                padding-left: 1.2em;
                }
            input {
                background: #fff url('/images/search.png') top right no-repeat;
                font-size: 1em;
                height: 3.4em;
                width: 36em;
                @include border-radius(3px);
                border: 1px solid #cecece;
                @include box-shadow(inset 2px 2px 2px #eee);
                padding-left: 1.6em;
                outline: none;
                }
            .flyout {
                //background: #fff url('/images/search.png') top right no-repeat;
                //@include border-radius(3px);
                background-color: #fff;
                @include border-bottom-left-radius (3px);
                @include border-bottom-right-radius (3px);
                border: 1px solid #cecece;
                border-top: 0;
                @include box-shadow(inset 2px 0px 2px #eee);
                position: absolute;
                top: 16.7em;
                left: 3em;
                width: 35.3em;
                padding: 0 1em 1em 1em;
                margin-right: 7.4em;
                list-style-type: none;
                li {
                    padding: 1.2em 1.2em 1.2em 0.6em;
                    border-top: 1px solid #cecece;
                    &:last-child {
                        padding-bottom: 0;
                        }
                    &.focus {
                        background-color: $bgColorHighlight;
                    }
                }
                li:hover {
                    background-color: $bgColorHighlight;
                    cursor: pointer;
                }
                .match-text {
                    font-weight: bold;
                }

            }
            }

        &.reduced {
            right: $panelWidth;
            &.small {
                right: $panelWidth * 1.5;
            } 
        }

        .olPopup {
            background: transparent url('/images/popup_downarrow.png') bottom no-repeat;
            background-color: transparent !important;
            padding: 0 0 0px 0;
            width: 15em;
            margin-top: -5em;
            margin-left: -7.5em;
            .olPopupContent {
                margin: 0;
                padding: 0;
                .popup-text {
                    background-color: #fff;
                    @include border-radius(4px);
                    @include box-shadow(0px 0px 40px 5px rgba(0, 0, 0, 0.3));
                    padding: 1em 1.6em;
                    margin: 0;
                }
            }
        }
    }
    & > .constants {
        position: absolute;
        top: 0px;
        right: 0px;        
        width: 0px;
        bottom: 0px;
        @include transition-property(width);
        @include transition-duration(0.5s);

        &.open {
            width: $panelWidth * 0.5;
        }

    }
    
    & > .calculations {
        @include container;
        @include border-box-sizing;
        position: absolute;
        top: 0px; 
        right: 0px;
        bottom: 0px;
        background: #fbfafa repeat-x top url('/images/top.png'); 
        width: 0px;
        padding-right: 0px;
        padding-left: 0px;
        @include transition-property(width, right);
        @include transition-duration(0.5s);
        @include transform(translateZ(0));
        p.header {
            padding: 0;
            margin: 2em 0 0.2em 1.46em;
            }
        h1 {
            font-size: 1.3em;
            padding: 0;
            margin: 0 0 1em 1.1em;
            }
        .footer {
            background-color: $bgColorDark;
            border-top: 1px solid $borderColorDark;
            clear: both;
            }
        &.open {
            width: $panelWidth; 
            padding-right: $main-padding-width;
            padding-left: $main-padding-width;
            &.extended {
                right: $panelWidth * 0.5;
            }
        }
        a.back {
            position: absolute;
            right: 0;
            top: 0;
            margin: 1.5em 3.2em 0 0;
            font-weight: bold;
            text-decoration: none;
            color: #3dabfb;
            }
        .actioncontainer {
            position: absolute;
            right: 0;
            top: 0;
            //float: right;
            //clear: both;
            margin: 3.2em 2.4em 0 0;
            }
        .actionbutton {
            background-color: #7ac2fa;
            @include background-image(linear-gradient(#95cefc, #6ab7f7));
            color: #fff;
            font-size: 0.9em;
            display: inline-block;
            cursor: pointer;
            padding: 0.4em 1em;
            margin: 0em 0 0 1em;
            @include border-radius(4px);
            border: 1px solid #53a9d1;
            @include text-shadow(#fff 0px 0px 2px);
            box-shadow: 0px 2px 2px $shadowColor;
            }
        .headerbar {
            background: $bgColorDark;
            @include border-top-left-radius (4px);
            @include border-top-right-radius (4px);
            border-bottom: 1px solid $borderColorDark;
            border-top: 1px solid $shadowColor;
            box-shadow: 0px 2px 2px $shadowColor;
            position: relative;
            .info {
                margin: 0.6em 1.2em 0.6em;
                width: 20px;
                height: 20px;
                display: inline-block;
                .infopopup {
                    display: none;
                    position: absolute;
                    background-color: #fff;
                    @include border-radius (3px);
                    z-index: 10000;
                    border: 1px solid #9c9c9c;
                    padding: 1.6em;
                    left: 0;
                    bottom: 3.1em;
                    //box-shadow: 2px 2px 2px $shadowColor;
                    //Miksi ei toimi?
                    .downarrow {
                        background: transparent url('/images/down_arrow.png') no-repeat;
                        width: 16px;
                        height: 13px;
                        position: absolute;
                        bottom: -8px;
                        left: 1.3em;
                        }
                    }
                }
            .info:hover {
                .infopopup {
                    display: block;
                    }
                }
            h2 {
                position: absolute;
                font-size: 1.2em;
                top: 0.6em;
                left: 3.2em;
                padding: 0;
                margin: 0;
                }
            span {
                position: absolute;
                top: 0.6em;
                right: 1.6em;
                span {
                    text-align: right;
                    width: 10em;
                    background: none;
                    font-size: 0.7em;
                    font-weight: normal;
                    margin: -0.1em 3em 0 0;
                    }
                }
            }
        .controls {
            background: #fff;
            margin: 2px 0 0 0;
            padding: 1em 1.6em;
            border-bottom: 1px solid $borderColorDark;
        }
        #savingsSum {
            @include span-columns(2,8);
            @extend .sumBoxes;
        }
        #productionSum {
            @include span-columns(2,8);
            @extend .sumBoxes;
        }
        #priceSum {
            @include span-columns(2,8);
            @extend .sumBoxes;
        }
        #paybackSum {
            @include span-columns(2 omega,8);
            @extend .sumBoxes;
        }
        .col5 {
            @include span-columns(8 omega,8);
        }
        .col7 {
            @include span-columns(4,8);
        }
        .col6 {
            @include span-columns(4 omega,8);
        }
        

    }
}

.graphbox {
    @include border-radius(4px);
    border: 1px solid #c5c5c5;
    margin-bottom: 1em;
    box-shadow: 2px 2px 2px #fff;
    background-color: #fff;
    @include with-grid-settings(4, 25%, 0%, 0%) {
        .graphgrid {
             @include border-box-sizing;                                
            .largegraphs {
                border-right: 1px solid #c5c5c5;
                @include span-columns(3,4);
                .graphs {
                    .fader {
                        position: absolute;
                        width: 100%;
                        height: 60px;
                        z-index: 5000;
                        bottom: 83px;
                        background: url('/images/graph_fade.png') repeat-x top;
                        margin-left: -1.24em;
                        }
                    position: relative;
                    padding: 1em 1.24em;
                    .key {
                        font-size: 0.9em;
                        width: 20%;
                        margin-top: 3em;
                        div {
                            margin-top: 0.3em;
                            width: 7px;
                            height: 7px;
                            float: left;
                            margin-right: 1em;
                            }
                        .bought {
                                background-color: #d1f0cf;
                                border: 1px solid #caebc8;
                            }
                        .solarelectric {
                                background-color: #fdc69d;
                                border: 1px solid #fcc093
                            }
                        .solarheat {
                                background-color: #fdf083;
                                border: 1px solid #f6e986;
                            }
                        .geoterm {
                                background-color: #edc847;
                                border: 1px solid #e9c444;
                            }
                        .surplus {
                                background-color: #8e8e8e;
                                border: 1px solid #848484;
                            }
                        }    
                    .divider {
                        background: url('/images/divider.png') no-repeat left bottom;
                        padding-left: 1.6em;
                        }
                    div {
                        width: 50%;
                        display: inline-block;
                        svg {
                            margin-left: -1em;
                            }
                        .months {
                            width: 300px;
                            padding-left: 4px;
                            font-size: 0.9em;
                            .month {
                                width: 14px;
                                text-align: center;
                                margin-right: 8px;
                                }
                            }
                        .bottom-caption {
                            font-size: 0.8em;
                            position: absolute;
                            left: 1.6em;
                            bottom: 4em;
                            }
                        .top-caption {
                            font-size: 0.8em;
                            position: absolute;
                            left: 1.6em;
                            top: 4.6em;
                            }
                        h2 {
                            font-size: 1.2em;
                            margin: 0 0 4em 0;
                            }
                        .heating-graph {
                            @extend .graph;
                            .layer.solar-heating {
                                fill: #fdf083;
                                stroke: #f6e986;
                                }
                            .layer.geothermal {
                                fill: #edc847;
                                stroke: #e9c444;
                                }
                            .layer.residue {
                                fill: #8e8e8e;
                                stroke: #848484;
                                }
                            .layer.bought {
                                fill: #cfeecd;
                                stroke: #caebc8;
                                }
                            }
                        .electricity-graph {
                            @extend .graph;
                            .layer.solar-electricity {
                                fill: #fdc69d;
                                stroke: #fcc093;
                                }
                            .layer.residue {
                                fill: #8e8e8e;
                                stroke: #848484;
                                }
                            .layer.bought {
                                fill: #cfeecd;
                                stroke: #caebc8;
                                }
                            }
                        }
                    }

                .disclaimer {
                    background-color: $bgColorHighlight;
                    font-size: 0.8em;
                    padding: 1em 1.6em;
                    border-top: 1px solid #c5c5c5;   
                    @include border-bottom-left-radius (4px);
                    @include border-bottom-right-radius (4px);
                    }
                }
            .smallgraphs {
                @include span-columns(1 omega,4);
                h3 {
                    font-size: 0.9em;
                    padding: 0.4em 0 0 1em;
                    }
                }
            }
        }
    }

.boxed {
    @include border-radius(4px);
    @include background-image(linear-gradient(#fff, #f6f6f6));
    border: 1px solid $borderColorDark;
    margin: 0 0 1em 0;
    box-shadow: 2px 2px 2px $shadowColor;
    &.disabled {
        color: #bbb;
        .controls {
            slider {
                span.bar, span.pointer {
                    @include background-image(linear-gradient(#d2d2d2, #e2e2e2));
                    border: 1px solid $borderColorDark;
                    }
                }
            }
        .effects {
            background: #f9f9f9 url('/images/box_top.png') top repeat-x;
            color: #bbb;
            p {
                color: #bbb;
                }
            }
        .positioncontainer {
            .infobutton {
                color: #bbb;
                border: 1px solid #cacaca;
                }
            }
        }
    .controls {
        position: relative;
        background-color: #fff;    
        .suggestion {
            font-size: 0.9em;
            background-color: #fff;
            padding: 0 1em 0 0;
            position: absolute;
            bottom: 1em;
            }
        .suggestiondash {
                display: inline-block;
                background: url('/images/suggestion_dash.png') bottom repeat-x;
                width: 71%;
                height: 4px;
                position: absolute;
                left: 1.8em;
                bottom: 1em;
                .suggestionpointer {
                    background: url('/images/suggestion_arrow.png') bottom repeat-x;
                    position: absolute;
                    right: 0;
                    width: 12px;
                    height: 4px;
                    }
                }    

        .slideramount {
            position: absolute;
            font-size: 1.7em;
            right: 0.8em;
            top: 1.7em;
            }
        slider.solarelectricity {
            .bar, .pointer {
                @include background-image(linear-gradient($solarElectricityColor1, $solarElectricityColor2));
                border: 1px solid $solarElectricityColor3;
                }
            }
        slider.solarheat {
            .bar, .pointer {
                @include background-image(linear-gradient($solarHeatColor1, $solarHeatColor2));
                border: 1px solid $solarHeatColor3;
                }
            }
        slider.geoterm {
            .bar, .pointer {
                @include background-image(linear-gradient($geoTermColor1, $geoTermColor2));
                border: 1px solid $geoTermColor3;
                }
            }
        slider {
            margin-left: 0;
            width: 80%;
            .bar {
                -webkit-box-shadow: inset 0px 0px 0px;
                box-shadow: inset 0px 0px 0px;
                box-shadow: 0px 2px 2px $shadowColor;
                }
            .barbg {
                -webkit-box-shadow: inset 0px 0px 0px;
                box-shadow: inset 0px 0px 0px;
                box-shadow: 0px 2px 2px $shadowColor;
                @include background-image(linear-gradient(#d2d2d2, #e2e2e2));
                border: 1px solid $borderColorDark;
                }
            .pointer {
                top: -7px;
                }
            .pointer:after {
                background-color: transparent;
                }
            }
        }
    .table {
        background-color: #fff;
        margin: 2px 0 0 0;
        @include border-bottom-left-radius (4px);
        @include border-bottom-right-radius (4px);
        padding: 1.6em;
    .highlight {
        font-weight: bold;
        color: $contentTextColor;
        padding: 0 0 0.5em;
        }
        .effects { 
            height: 3em;
            background: #fff;
            .positioncontainer .infobutton {
                margin: 1em 0;
                }
            }
        h3 {
            font-size: 0.9em;
            }
        .shortInput {
            width: 5em;
            }
        .longInput {
            width: 8em;
            }
        input {
            height: 1.9em;
            @include border-radius(3px);
            border: 1px solid #ccc;
            background: #fff;
            }
        .dropdown {
            overflow:hidden;
            padding:0; 
            margin:0; 
            width:11.3em;
            border:none; 
            }
        select {
            width:100%; 
            background-color:transparent; 
            background-image:none; 
            -webkit-appearance: none; 
            border:none; 
            height: 2.2em;
            box-shadow:none; 
            color: $uiTextColor;
            padding: 0em 0em 0.1em 1em;
            }
        table {
            @include border-radius(4px);
            width: 100%;
            border: 1px solid $borderColorHighlight;
            border-spacing: 0;
            }
        td {
            padding: 0.6em 0;
            border-top: 1px solid $borderColorHighlight;
            }
        tr td:nth-child(2) {
            text-align: right;
            padding-right: 0.5em;
            }
        tr td:first-child {
            padding-left: 1.6em;
            }
        tr td:last-child {
            width: 4.6em;
            }    
        tr:first-child td:first-child {
            @include border-top-left-radius (4px);
        }
        tr:first-child td:last-child {
            @include border-top-right-radius (4px);
        }
        tr:last-child td:first-child {
            @include border-bottom-left-radius (4px);
        }
        tr:last-child td:last-child {
            @include border-bottom-right-radius (4px);
        }
        tr:first-child td {
            border-top: 0;
            }
        tr:nth-child(odd) {
            background-color: #fff;
            }
        tr:nth-child(even) {
            background-color: $bgColorHighlight;
            }
        }
    @include with-grid-settings(4, 25%, 0%, 0%) {
        .effects{
            @include container;
            @include border-bottom-left-radius (4px);
            @include border-bottom-right-radius (4px);
            background: #f5f9fd url('/images/box_top.png') top repeat-x;
            font-size: 0.8em;
            text-align: center;
            padding: 0;
            margin: 0;
            position: relative;
            font-weight: bold;
            .savings {
                @include span-columns(1,4);
                border-right: 1px solid $borderColorDark;
                padding: 1em 0 3em 0;
                }
            .production {
                @include span-columns(1,4);
                border-right: 1px solid $borderColorDark;
                padding: 1em 0 3em 0;
                }
            .price {
                @include span-columns(1,4);
                border-right: 1px solid $borderColorDark;
                padding: 1em 0 3em 0;
                }
            .payback {
                @include span-columns(1,4);
                padding: 1em 0 3em 0;
                }
            p {
                color: $contentTextColor;
                font-size: 1.7em;
                }
            }
        }
    }

.sumBoxes {
    text-align: center;
    font-weight: bold;
    padding: 1em;
    position: relative;

    .positioncontainer {
        position: relative;
        height: 3em;
        h2 {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            font-size: 0.9em;
            box-shadow: 0 0 0 transparent;
            background-image: none;
            background-color: transparent;
            border: 0;
            padding: 0;
            }    
        }
    p {
        font-size: 1.6em;
        color: $contentTextColor;
        padding: 0.5em 0 0.4em;
        margin: 0;
        }
    }

.positioncontainer {
    position: absolute;
    left: 0;
    right: 0;
    .infobutton {
        @include border-radius(5px);
        font-weight: bold;
        font-size: 1.2em;
        color: $contentTextColor;
        background: #fff;
        border: 1px solid $borderColorDark;
        padding: 0.4em 1.6em;
        margin: 5.8em 0 0;
        display: inline-block;
        cursor: pointer;
        }
    }

p.effectsSum {
    font-size: 1.8em;
    color: $contentTextColor;
    }



.graph {
    .layer.bought {
        fill: #CDF0D2;
        stroke: #C6EBCB;
    }
}

.info, .toggle_off, .toggle_solarelectricity_on, .toggle_geoterm_on, .toggle_solarheat_on, .dropdown{
    background: url(/images/sprites.png) no-repeat;
    cursor: pointer;
}

.info{
    background-position: 0 -26px ;
    width: 20px;
    height: 20px;
}

.toggle_off{
    background-position: 0 -48px ;
    width: 36px;
    height: 20px;
}

.toggle_solarelectricity_on{
    background-position: 0 -69px ;
    width: 36px;
    height: 20px;
}

.toggle_geoterm_on{
    background-position: 0 -113px ;
    width: 36px;
    height: 20px;
}

.toggle_solarheat_on{
    background-position: 0 -91px ;
    width: 36px;
    height: 20px;
}

.dropdown{
    background-position: 0 0;
    width: 145px;
    height: 24px;
}



