@import "compass";
@import "_susy";

$total-columns: 8;
$column-width: 7em;
$gutter-width: 1em;
$main-padding-width: 2.4em;
$panelWidth: ($total-columns * ($column-width + $gutter-width)) + $gutter-width + $main-padding-width;
$contentTextColor: #4e92cb;
$uiTextColor: #474747;
$borderColorDark: #afafaf;
$borderColorMedium: #d7d7d7;
$borderColorLight: #d9d9d9;
$borderColorHighlight: #bbddfe;
$bgColorDark: #f3f3f3;
$bgColorLight: #f8f8f8;
$bgColorHighlight: #f5f9fd;
$shadowColor: #eee;
$solarElectricityColor1: #fed4b4;
$solarElectricityColor2: #fcc499;
$solarElectricityColor3: #e2a678;
$solarHeatColor1: #fef6ba;
$solarHeatColor2: #f6eb9b;
$solarHeatColor3: #d4c768;
$geoTermColor1: #ecce66;
$geoTermColor2: #e1c04f;
$geoTermColor3: #b5962c;


body {
    font: 0.8em Helvetica Neue, Helvetica, Arial, sans-serif;

    & > .map {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px; 
        bottom: 0px;
        @include transition-property(right);
        @include transition-duration(0.5s);
        @include transform(translateZ(0));


        &.reduced {
            right: $panelWidth; 
        }

        .olPopup {
            background-color: transparent !important;
            @include box-shadow(black 0px 5px 20px);
            width: auto !important;
            height: auto !important;
        }
        .olPopupContent {
            padding: 0px;
        }
    }
    
    & > .calculations {
        @include container;
        @include border-box-sizing;
        position: absolute;
        top: 0px; 
        right: 0px;
        bottom: 0px;
        background: #fbfafa repeat-x top url('/images/top.png'); 
        width: 0px;
        padding-right: $main-padding-width;
        padding-left: $main-padding-width;
        @include transition-property(width);
        @include transition-duration(0.5s);
        @include transform(translateZ(0));
        .footer {
            background-color: $bgColorDark;
            border-top: 1px solid $borderColorDark;
            clear: both;
            }
        &.open {
            width: $panelWidth; 
        }
        a.back {
            float: right;
            margin: 1.7em 0.9em 0 0;
            font-weight: bold;
            text-decoration: none;
            color: #3dabfb;
            }
        .actioncontainer {
            float: right;
            clear: both;
            margin: 0.7em 0 0;
            }
        .actionbutton {
            @include background-image(linear-gradient(#95cefc, #6ab7f7));
            color: #fff;
            font-size: 0.9em;
            display: inline-block;
            padding: 0.4em 1em;
            margin: 0em 0 0 1em;
            @include border-radius(4px);
            border: 1px solid #53a9d1;
            @include text-shadow(#fff 0px 0px 2px);
            box-shadow: 0px 2px 2px $shadowColor;
            }
        h1 {
            margin-top: 1.6em;
            font-size: 1.9em;
            color: $uiTextColor;
        }
        


        .headerbar {
            background: $bgColorDark;
            @include border-top-left-radius (4px);
            @include border-top-right-radius (4px);
            border-bottom: 1px solid $borderColorDark;
            border-top: 1px solid $shadowColor;
            box-shadow: 0px 2px 2px $shadowColor;
            position: relative;
            .info {
                margin: 0.6em 1.2em 0.6em;
                width: 20px;
                height: 20px;
                display: inline-block;
                }
            h2 {
                position: absolute;
                font-size: 1.2em;
                color: $uiTextColor;  
                top: 0.6em;
                left: 3.2em;
                padding: 0;
                margin: 0;
                }
            span {
                position: absolute;
                top: 0.6em;
                right: 1.6em;
                span {
                    text-align: right;
                    width: 10em;
                    background: none;
                    font-size: 0.7em;
                    font-weight: normal;
                    margin: -0.1em 3em 0 0;
                    }
                }
            }
        .controls {
            background: #fff;
            margin: 2px 0 0 0;
            padding: 1em 1.6em;
            border-bottom: 1px solid $borderColorDark;
        }
        #savingsSum {
            @include span-columns(2,8);
            @extend .sumBoxes;
        }
        #productionSum {
            @include span-columns(2,8);
            @extend .sumBoxes;
        }
        #priceSum {
            @include span-columns(2,8);
            @extend .sumBoxes;
        }
        #paybackSum {
            @include span-columns(2 omega,8);
            @extend .sumBoxes;
        }
        .col5 {
            @include span-columns(8 omega,8);
        }
        .col7 {
            @include span-columns(4,8);
        }
        .col6 {
            @include span-columns(4 omega,8);
        }
        .heating-graph {
            @extend .graph;
            .layer.solar-heating {
                fill: #FDEF9B;
                stroke: #F6E893;
            }
            .layer.geothermal {
                fill: #EFC75E;
                stroke: #EBC35B;
            }
            .layer.residue {
                fill: #B59137;
                stroke: #AF8D35;
            }
        }
        .electricity-graph {
            @extend .graph;
            .layer.solar-electricity {
                fill: #BCE3FC;
                stroke: #B3DBF6;
            }
        }

    }
}

.boxed {
    @include border-radius(4px);
    @include background-image(linear-gradient(#fff, #f6f6f6));
    border: 1px solid $borderColorDark;
    margin: 0 0 1em 0;
    box-shadow: 2px 2px 2px $shadowColor;
    &.disabled {
        color: #bbb;
        .controls {
            slider {
                span.bar, span.pointer {
                    @include background-image(linear-gradient(#d2d2d2, #e2e2e2));
                    border: 1px solid $borderColorDark;
                    }
                }
            }
        .effects {
            background: #f9f9f9 url('/images/box_top.png') top repeat-x;
            color: #bbb;
            p {
                color: #bbb;
                }
            }
        .positioncontainer {
            .infobutton {
                color: #bbb;
                border: 1px solid #cacaca;
                }
            }
        }
    .controls {
        position: relative;
        background-color: #fff;
        .slideramount {
            position: absolute;
            font-size: 1.7em;
            right: 0.8em;
            top: 1.7em;
            }
        slider.solarelectricity {
            .bar, .pointer {
                @include background-image(linear-gradient($solarElectricityColor1, $solarElectricityColor2));
                border: 1px solid $solarElectricityColor3;
                }
            }
        slider.solarheat {
            .bar, .pointer {
                @include background-image(linear-gradient($solarHeatColor1, $solarHeatColor2));
                border: 1px solid $solarHeatColor3;
                }
            }
        slider.geoterm {
            .bar, .pointer {
                @include background-image(linear-gradient($geoTermColor1, $geoTermColor2));
                border: 1px solid $geoTermColor3;
                }
            }
        
        slider {
            margin-left: 0;
            width: 80%;
            .bar {
                -webkit-box-shadow: inset 0px 0px 0px;
                box-shadow: inset 0px 0px 0px;
                box-shadow: 0px 2px 2px $shadowColor;
                }
            .barbg {
                -webkit-box-shadow: inset 0px 0px 0px;
                box-shadow: inset 0px 0px 0px;
                box-shadow: 0px 2px 2px $shadowColor;
                @include background-image(linear-gradient(#d2d2d2, #e2e2e2));
                border: 1px solid $borderColorDark;
                }
            .pointer {
                top: -7px;
                }
            .pointer:after {
                background-color: transparent;
                }
            }
        }
    .table {
        background-color: #fff;
        margin: 2px 0 0 0;
        @include border-bottom-left-radius (4px);
        @include border-bottom-right-radius (4px);
        padding: 1.6em;
        color: $uiTextColor;
    .highlight {
        font-weight: bold;
        color: $contentTextColor;
        padding: 0 0 0.5em;
        }
        .effects { 
            height: 3em;
            background: #fff;
            .positioncontainer .infobutton {
                margin: 1em 0;
                }
            }
        h3 {
            font-size: 0.9em;
            }
        .shortInput {
            width: 5em;
            }
        .longInput {
            width: 8em;
            }
        input {
            height: 1.9em;
            color: $uiTextColor;
            @include border-radius(3px);
            border: 1px solid #ccc;
            background: #fff;
            }
        .dropdown {
            overflow:hidden;
            color: $uiTextColor;
            padding:0; 
            margin:0; 
            width:11.3em;
            border:none; 
            }
        select {
            width:100%; 
            background-color:transparent; 
            background-image:none; 
            -webkit-appearance: none; 
            border:none; 
            height: 2.2em;
            box-shadow:none; 
            color: $uiTextColor;
            padding: 0em 0em 0.1em 1em;
            }
        table {
            @include border-radius(4px);
            width: 100%;
            border: 1px solid $borderColorHighlight;
            border-spacing: 0;
            }
        td {
            padding: 0.6em 0;
            border-top: 1px solid $borderColorHighlight;
            }
        tr td:nth-child(2) {
            text-align: right;
            padding-right: 0.5em;
            }
        tr td:first-child {
            padding-left: 1.6em;
            }
        tr td:last-child {
            width: 4.6em;
            }    
        tr:first-child td:first-child {
            @include border-top-left-radius (4px);
        }
        tr:first-child td:last-child {
            @include border-top-right-radius (4px);
        }
        tr:last-child td:first-child {
            @include border-bottom-left-radius (4px);
        }
        tr:last-child td:last-child {
            @include border-bottom-right-radius (4px);
        }
        tr:first-child td {
            border-top: 0;
            }
        tr:nth-child(odd) {
            background-color: #fff;
            }
        tr:nth-child(even) {
            background-color: $bgColorHighlight;
            }
        }
    @include with-grid-settings(4, 25%, 0%, 0%) {
        .effects{
            @include container;
            @include border-bottom-left-radius (4px);
            @include border-bottom-right-radius (4px);
            background: #f5f9fd url('/images/box_top.png') top repeat-x;
            font-size: 0.8em;
            text-align: center;
            color: $uiTextColor;
            padding: 0;
            margin: 0;
            position: relative;
            font-weight: bold;
            .savings {
                @include span-columns(1,4);
                border-right: 1px solid $borderColorDark;
                padding: 1em 0 3em 0;
                }
            .production {
                @include span-columns(1,4);
                border-right: 1px solid $borderColorDark;
                padding: 1em 0 3em 0;
                }
            .price {
                @include span-columns(1,4);
                border-right: 1px solid $borderColorDark;
                padding: 1em 0 3em 0;
                }
            .payback {
                @include span-columns(1,4);
                padding: 1em 0 3em 0;
                }
            p {
                color: $contentTextColor;
                font-size: 1.7em;
                }
            }
        }
    }

.sumBoxes {
    text-align: center;
    font-weight: bold;
    padding: 1em;
    position: relative;

    .positioncontainer {
        position: relative;
        height: 3em;
        h2 {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            color: $uiTextColor;
            font-size: 0.9em;
            box-shadow: 0 0 0 transparent;
            background-image: none;
            background-color: transparent;
            border: 0;
            padding: 0;
            }    
        }
    p {
        font-size: 1.6em;
        color: $contentTextColor;
        padding: 0.5em 0 0.4em;
        margin: 0;
        }
    }

.positioncontainer {
    position: absolute;
    left: 0;
    right: 0;
    .infobutton {
        @include border-radius(5px);
        font-weight: bold;
        font-size: 1.2em;
        color: $contentTextColor;
        background: #fff;
        border: 1px solid $borderColorDark;
        padding: 0.4em 1.6em;
        margin: 5.8em 0 0;
        display: inline-block;
        }
    }

p.effectsSum {
    font-size: 1.8em;
    color: $contentTextColor;
    }

.popup-text {
    @include background-image(linear-gradient(#749560, #688356));
    @include border-radius(3px);
    @include text-shadow(rgba(black, 0.7) 0px 0px 10px);

    padding: 10px 20px;
    margin: 0px;
    font-size: 20px;
    font-family: arial, sans-serif;
    border: 1px solid #5A7147;
    color: white;
}

.graph {
    .layer.bought {
        fill: #CDF0D2;
        stroke: #C6EBCB;
    }
}

.info, .toggle_off, .toggle_solarelectricity_on, .toggle_geoterm_on, .toggle_solarheat_on, .dropdown{
    background: url(/images/sprites.png) no-repeat;
}

.info{
    background-position: 0 -26px ;
    width: 20px;
    height: 20px;
}

.toggle_off{
    background-position: 0 -48px ;
    width: 36px;
    height: 20px;
}

.toggle_solarelectricity_on{
    background-position: 0 -69px ;
    width: 36px;
    height: 20px;
}

.toggle_geoterm_on{
    background-position: 0 -113px ;
    width: 36px;
    height: 20px;
}

.toggle_solarheat_on{
    background-position: 0 -91px ;
    width: 36px;
    height: 20px;
}

.dropdown{
    background-position: 0 0;
    width: 145px;
    height: 24px;
}



