!!!
html
    head
        title Energiatieto
        link(rel="stylesheet",href="styles/main.css")
        script(type="text/javascript",src="/vendor/proj4.js")
        script(type="text/javascript",src="/vendor/OpenLayers.js")
        script(type="text/javascript",src="/js/map.js")
    body
        .map(style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;", id="map")